# SOM Color Palette Extractor API Credentials
SOM_API_URL=https://som-color-extractor.onrender.com/api/v1/palette
SOM_API_KEY=your_som_api_key_here

# AI Waste Classifier API Credentials
WASTE_API_URL=https://waste-classification-api-3dd9.onrender.com/api/v1/classify
WASTE_API_KEY=your_waste_api_key_here
